body {
    display: flex;
    justify-content: center;
}
div#calculator {
    background: black;
    width: 200px;
    height: 380px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    padding: 10px;
}
div#display {
    width: 180px;
    height: 110px;
    display: block;
    margin-bottom: 30px;
    color: white;
    font: normal 40px Arial;
    text-align: right;
}
div#keys {
    display: grid;
}
div#keys > div {
    margin: 5px auto;
    padding: 0px 10px;
}
input {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto 1px;
    background: rgb(60, 60, 60);
    box-shadow: 2px 2px 2px rgba(58, 45, 45, 0.815);
    color: white;
    border: none;
}
input.gray {
    background-color: lightgray;
    color: black;
}
input.orange {
    background-color: orange;
}